@font-face {
  font-family: "YujiMai";
  src: url(YujiMai-Regular.ttf);
}
body {
  font-family: "YujiMai";
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 200px 1000px;
}
.header {
  grid-column: 2;
  /*background-color: rgb(25, 184, 212);*/
  grid-row: 1;
}
.main {
  grid-column: 1/4;
  grid-row: 2;
}
.body {
  display: grid;
  grid-template-columns: 2fr 4fr 6fr 2fr;
  grid-template-rows: 1fr 3fr 3fr 1fr;
}
.title {
  grid-column: 2/4;
  grid-row: 1;
  text-align: center;
}
.image {
  grid-column: 2;
  grid-row: 2/4;
  text-align: center;
}
.about {
  grid-column: 3;
  grid-row: 2;
}
.image img {
  width: 400px;
}
.links {
  grid-column: 3;
  grid-row: 3;
}
.contact {
  grid-column: 2;
  grid-row: 5;
}
.contact img {
  width: 50px;
  height: 50px;
}
#slider {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: -30px;
}
#slider .item {
  height: 100%;
  width: 280px;
  position: absolute;
  background:#007bff;
  border-radius: 10px;
  transition: all ease 0.7s;
  z-index: 1;
  left: 0;
  opacity: 0.7;
  transform: scale(0.8);
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}
#slider .active {
  z-index: 2;
  opacity: 1;
  background:#007bff;
  transform: scale(1);
}
#slider .item img{
    width: 60%;
    margin-left:20%;
}
#slider .item p {
    padding-left: 10px;
    padding-right: 10px;
}
#slider .item h2 {
    text-align: center;
}
.centerSlider {
  left:50%;
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-rows: 250px 1000px;
  }
  .image {
    grid-column: 1/5;
    grid-row: 2;
  }
  .about {
    grid-column: 2/4;
    grid-row: 3;
  }
  .links {
    display: none;
  }
  .contact {
    grid-column: 2;
    grid-row: 4;
  }
}

.dropdown {
  z-index: 100;
}